.heading{
	text-align: center;
	text-decoration-color: blue;
}
.bkg{
    /* background-color: #fff7ed;*/
    background-color: #f1efff;

}

.fontAA{
	font-family: 'Lato', sans-serif;
    font-weight: bold;
	font-size: 65px;	
	color: black;
}
.fontBB{
	font-family: 'Lato',sans-serif;
    
    font-weight: 900;
	font-size: 30px;
	 line-height: 175%;
    word-spacing: 7px;
    color: #494646;
	
}
.fontApple{
	font-family: "Homemade Apple";
	color: black;
    line-height: 250%;
    word-spacing: 15px;
    font-size: 30px;
}
.fontA{
  font-family: 'Montserrat', sans-serif;
 color: black;
    line-height: 250%;
    word-spacing: 7px;
    font-size: 42px;}
.fontC{
	font-family: 'Lato', sans-serif;
	color:black;
	font-size: 25px;
	word-spacing: 5px;

    
}
.fontD{
font-family: 'Source Sans Pro', sans-serif;
/*font-family: 'Catamaran', sans-serif;*/
  color: black;
  font-size: 30px;
  word-spacing: 5px;

}
.fontE{
font-family: 'Kalam', cursive;
  color: black;
  font-size: 30px;
  word-spacing: 5px;

}
.placeC{
	font-family: "Homemade Apple";
	color: black;    
}
.fontB{
    font-family:'Amatic SC', cursive;
    font-size: 25px;
}
.center{
     align-self: center;
}
.smaller-image {
    width: 400px;
    align-self: center;
  }
  .thick-purple-border {
    border-color: purple;
    border-width: 1.25px;
    border-style: solid;
    border-radius: 50%;
  }
 .uls {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d0926;
}
.active {
    background-color: #1b1254;
    border-radius: 10%;
}

.lis {
    float: left;
}

.lis a {
    display: block;
    color: white;
    /*text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.lis a:hover {
    background-color: #1b1254;
    text-decoration: none;
    color: white;
    border-radius: 10%;
}
  button{
  	font-size: 50px;
  }
body {
    /*background-image: url("backdrop.png");    
    height: 100%; 

    /* Center and scale the image nicely 
    background-position: center;
    background-repeat: no-repeat;
        background-attachment: fixed;

    background-size: cover;
   */

}
p{
	font-size: 16px;
	font-family: "Homemade Apple";
	color: black;
}
element {
    top: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.transparent{
    background:rgba(255,255,255,0.95);
    /*border-radius: 5%;
    /*border-color: #270333;
    border-style: solid;
    border-width: 2.5px;*/
}
.transparent1{
    background:rgba(255,255,255,0.95);
    border-radius: 3%;
    /*border-color: #270333;
    border-style: solid;
    border-width: 2.5px;*/
}
.navbar{
         margin-bottom: 0!important;
         position: fixed;
         } 

.navbar-default {
    background-color: #0f006f;
    border-color: #030033;
}
.fa {
    padding: 10px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #af1323;
    color: white;
}

hr.star-bright, hr.star-dark{
    margin:40px auto 30px;
    padding:0;
    max-width:512px;
    border:0;
    border-top:solid 5px;
    text-align:center;
  }
@media(min-width:1023px){
header hr.star-bright, header hr.star-dark{
        margin-right:0;
        text-align:right
    }
        header hr.star-bright:after, header hr.star-dark:after{
          right:-10px;
        }
      }
hr.star-bright:after, hr.star-dark:after{
      content:'\f121';
      font-family:FontAwesome;
      display:inline-block;
      position:relative;
      top:-.8em;
      padding:0 .25em;
      font-size:2em;
    }
hr.star-bright{
    border-color:#fff;
  }
hr.star-bright:after{
      color:#fff;
      background-color:#aaa;
    }
hr.star-dark{
    border-color:#888;
  }
hr.star-dark:after{
      color:#888;
      background-color:#eee;
    }